// COLORS
$color-first: #233142;
$color-second: #455d7a;
$color-third: #f95959;
$color-fourth: #e3e3e3;

// FONTS
$heading-first: 3.5rem;
$heading-second: 2.5rem;
$heading-third: 2rem;

$font-size-normal: 1.6rem;
$font-size-title-1: 3rem;
$font-size-title-2: 2rem;

$font-primary: "Nunito";


