.user-form {
  display: grid;
  justify-content: start;
  gap: 1rem;

  &__label-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  &__label {
    @include formLabel;
  }
}
